// Variable overrides
$primary-red: #FF0000;
$white: #fff;
$bold: bold;
$dark_grey: #484848;
$light_grey:#979797;
$slider_menu_light_grey:#c8c5c5;
$black: #000;
$red: #f86c6b;
$green: #4dbd74;
$brand-color: #E3363C;
$light_background:#efefef;
$mobile-breakpoint:765px;
$desktop-breakpoint:1240px;
