@import "./variables";

.btn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
      
  &.btn-primary {
    background-color: $primary-red;
    color: $white;
  }

  &.btn-primary:hover {
      background-color: $white ;
      color:$primary-red;
      border: 1px solid $primary-red;
    }
}
